h1 {
    color: red;
}
p {
    color:yellow;
    font-size: x-large;
}
.para1 {
    text-align: center;
    color: green;
  }
  #heading2 {
    color:red;
  }
.row{
    background-color:blue;
    width: 25%;
    height: 200px;
    padding: 20px
}

.coloum{
    background-color:blue;
    width: 25%;
    height: 200px;
    padding: 20px

  }